<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Details</title>
</head>
<body>
  <nav>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
</nav>
  <h1>You Entered <%=result['Title']%></h1>
    
  <h2><%=result['Year']%></h2> 
  <img src="<%=result['Poster']%>" alt="">
  <%# more details to make sure movie is correct %>
    
</body>
</html>