<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Details</title>
</head>
<body>

  <h1>You Entered <%=result%></h1>
    <%# I had title in the crab hands but added result to see more info, i think the API key is invalid? %>

    <a href="/">Back to home</a>
</body>
</html>