<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Details</title>
</head>
<body>

  <h1>You Entered <%=result['Title']%></h1>
    
  <h2><%=result%></h2> 
  <%# more details to make sure movie is correct %>
    <a href="/">Back to home</a>
</body>
</html>