<h1>Submit your planet, scientist</h1>
<h4>but make it pretty please</h4>


<form action="/planet_data" method="post">

    <label for="">Name</label>
    <input type="text" name="name">

    <label for="">Image</label>
    <input type="url" name="image_url" placeholder="preferably a png to keep the aesthetic">

    <label for="">Diameter</label>
    <input type="text" name="diameter">

    <label for="">Mass</label>
    <input type="text" name="mass">

    <label for="">Moon Count</label>
    <input type="number" name="moon_count">

    <button>Submit</button> 

</form>