<h1>please fill in this boring form</h1>

<form action="/submit_planet_data" method="post">
    <label for="">Name</label>
    <input type="text" name="name" placeholder="Enter your planets name">
<br>
<br>
    <label for="">Image url</label>
    <input type="url" name="image_url" placeholder = "http://...">
<br>
<br>
    <label for="">Diameter</label>
    <input type="text" name="diameter" placeholder = "enter a number">
<br>
<br>
    <label for="">Mass</label>  
    <input type="text" name="mass" placeholder = "enter a number">
<br>
<br>
    <label for="">Number of moons</label>
    <input type="number" name="moon_count" placeholder = "enter a number">
<br>
<br>
    <button>share</button>
</form>

