<h1>New Planet Details</h1>
<form action="/input_new_planet" method="post">
  <label for="">Name</label>
  <input type="text" name="name" />

  <label for="">Image url</label>
  <input type="url" placeholder="http://...." name="image_url" />

  <label for="">Diameter</label>
  <input type="text" name="diameter" />

  <label for="">Mass of the planet</label>
  <input type="text" name="mass" />

  <label for="">No: of moons</label>
  <input type="text" name="moons" />

  <button>create</button>
</form>
