<h1>Please fill the form below to create your own planet</h1>
<h2>
<form action="/input_planet" method="post">
  <label for="">Name</label>
  <input type="text" name="name">
  <br>
  <label for="">Image url</label>
  <input type="text" name="image_url">
  <br>
  <label for="">Diameter</label>
  <input type="real" name="diameter">
  <br>
  <label for="">Mass</label>
  <input type="real" name="mass">
  <br>
  <label for="">Number of moons</label>
  <input type="integer" name="moon_count">
  <br>

  <button>CREATE!</button>
</form>
</h2>
