* {
    border: solid red;

}


.grid-wrapper {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    text-align: center;
    width: auto;
    height: 600px;
}

.three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}