<h1>Please fill form out</h1>

<form action="/upload_planet" method="post">
    <label for="">Name</label>
    <input type="text" name="name" placeholder="eg Venus">
    <label for="">Image URL</label>
    <input type="text" name="image_url" placeholder="www.">
    <label for="">Diameter</label>
    <input type="number" name="diameter">
    <label for="">Mass</label>
    <input type="number" name="mass">
    <label for="">Moon Count</label>
    <input type="number" name="moon_count">
    <button>Upload</button>
</form>