<h1>Add New Planet</h1>
<section class="form">

    <form action="/planets" method='post'> <!--method is always get by default. Need to specify post -->

        <label for="">Planet Name</label>
        <input type="text" name="name">

        <label for="">Image Url</label>
        <input type="text" name="img_url">

        <label for="">Diameter</label>
        <input type="integer" name="diameter">

        <label for="">Mass</label>
        <input type="integer" name="mass">

        <label for="">Moon Count</label>
        <input type="integer" name="moon_count">

        <button>Submit</button>

    </form>

</section>