<h1>THE SOLAR SYSTEM</h1>



<section class="planets">

    <% planet.each do |planet|%>
        <h2>
            <a href="/planets/<%=planet["name"]%>"><%=planet["name"]%></a>
        </h2>
        <img src="<%=planet["image_url"]%>" alt="">

    <% end %>

</section>