<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<link rel="stylesheet" href="main.css">
<body>
  <a href="/">Home</a>
  <span>|</span>
  <a href="/add_new_planet">Add New Planet</a>

  <%= yield %>

</body>
<footer>&copy 2021 Big Fat Universe</footer>
</html>
