<h1>Add a planet</h1>

<form action="/addplanet" method = "post">
    <p>
        <label for="">Name</label>
        <input type="text" name = "name">
    </p>
    <p>
        <label for="">image</label>
        <input type="text" name = "image_url" placeholder = "https://....">
    </p>
    <p>
        <label for="">Diameter (KM)</label>
        <input type="number" name = "diameter">
    </p>
    <p>
        <label for="">Mass (x 10^24)</label>
        <input type="number" name = "mass">
    </p>
    <p>
        <label for="">Moon count</label>
        <input type="number" name = "moon_count">
    </p>
    <p>
        <button>SUBMIT</button>
    </p>
</form>
