<h1>Please fill in the information about the planet:</h1>
<form action="/input_planet_data" method="post">
    <div><label for="">name: </label>
    <input type="text" name="name"></div>
    
    <div><label for="">diameter: </label>
    <input type="real" name="diameter"></div>

    <div><label for="">mass: </label>
    <input type="real" name="mass" placeholder="e.g. 2.00E24"></div>

    <div><label for="">moon count: </label>
    <input type="integer" name="moon_count"></div
    >
    <div><label for="">image url: </label>
    <input type="text" name="image_url" placeholder="e.g http..."></div>
    <button>Submit</button></div>
</form>