.box1 {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.box2 {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.box3 {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
