<% if number == 0%>
<h1>no more bottles of beer on the wall
<a href="/99"> restart </a></h1>
<% else %>
<h1><%=number%> bottles of beer on the wall.
  <a href="/<%=number - 1%>">take one down</a></h1>

<% end %>