<h1> Add a new Planet: </h1>

<form action="/enter_a_planet" method="post">

<label for="">Name</label>
<input type="text" name = "name">

<label for="">image url</label>
<input type="text" placeholder="http://..." name = "image_url">

<label for="">Diameter</label>
<input type="text" name = "diameter">

<label for="">Mass</label>
<input type="text" name = "mass">

<label for="">Number of Moons</label>
<input type="text" name = "moon_count">
<button> Add Planet</button>
</form>
