<h1>This form must be filled with the new planet details.</h1>

<form action="/input_data" method="post">
<label for="">name</label>
<input type="text" name = "name">


<label for="image_url">Image URL</label>
<input type="text" name = "image_url" placeholder = "http://...">

<label for="diameter">Diameter</label>
<input type="real" name = "diameter">

<label for="mass">Mass</label>
<input type="real" name = "mass">

<label for="moon_count">Moon_count</label>
<input type="integer" name = "moon_count">

<button>Add New Planet</button>

</form>
