<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bottles of Beer...</title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
    body {
        font-family: 'Patrick Hand', cursive;
        background: url(https://img.wallpapersafari.com/desktop/1280/1024/50/48/oeZAcq.jpg);
        background-repeat: none;
        background-size: cover;
    }
    h2 {
        text-align: center;
        margin: 50vh 0 50vh 0;
    }
    </style>
</head>
<body>
    <%= yield %>
</body>
</html>