body {
    display: flex;
    padding: 0;
    margin: 0;  
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(173, 26, 0)); 
    font-family: 'Nothing You Could Do', cursive;
    
  }
    h3, a {
    color: darkslategray;
    font-size: 55px;
  }


  a{
    color: darkblue;
  }