<h3> Discovered a new planet? Star? Flying object you think we care about? 
Submit it to us by completing the form below </h3>

<form class = "form" action="/planets" method="post">
    <label for="">Planet Name: </label>
    <input type="text" name="name">

    <label for="">Image URL: </label>
    <input type="url" name="image_url" placeholder="http://">

    <label for="">Diameter (in kms): </label>
    <input type="number" name="diameter">

    <label for="">Mass (in kgs): </label>
    <input type="number" name="mass">

    <label for="">How many moons? </label>
    <input type="number" name="moon_count">
    <button>Submit</button>
</form>