<h1>List</h1>

<%movie_search["Search"].each do |movie|%>
<p>
<form action="/add_movies" method="post">
<input type="hidden" name= "title" value= <%=movie["title"]%>>
<input type="hidden" name= "date" value= <%movie["date"]%>> 
<input type="hidden" name= "plot" value= <%movie["plot"]%>> 
<input type="hidden" name= "poster" value= <%movie["poster"]%>> 
</form>
<a href="/movie_data?title=<%=movie["Title"]%>"><%=p movie["Title"]%></a>

</p>

<%end%>