
<form action="/add_movie" method="post">

<input type="text" placeholder="title" name="title"> 
<input type="number" placeholder="date" name="date"> 
<input type="text" placeholder="plot" name="plot"> 
<input type="url" placeholder="poster" name="poster"> 


<button>yes</button>
</form>