* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin: 0
}

header, main, footer {
    width: 70%;
    margin: 0 auto;
}

h1 {
    color: #999999;
    margin: 35px 0 10px;
    font-size: 26pt;

}

.home-images img {
    width: 100%;
}

h2 {
    color: #666666;
    margin: 15px 0;
    font-size: 16pt;
}

.date p {
    color: #579fd0;
    margin-bottom: 0;
}

a {
    color: #579fd0;
    text-decoration: none;
}

p {
    color: #845f47;
    font-size: 11pt;
    line-height: 1.5;
    margin-top: 0;
}

.home-press {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2px;
}

.home-press img {
    border: 4px solid #cccccc;
    width: 100%;
}

footer {
    padding: 10px 0;
}