<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Movie Database</title>
</head>
<body>

<nav>
    <a href="/">home</a>
    <a href="/about">about</a>
</nav>

    <h1> Movie Database </h1>
    

<form action="/movie_details">
    <input type="text" name="input_title" placeholder="enter movie name">
    <button>search database</button>
</form>

    <p>the best movie app in da world</p>
    <footer> &copy; 2021 </footer>
</html>
</body>