.giphy_board{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: fit-content;
    width: fit-content;
    border: 1px rgb(0, 0, 0) solid;
    width: 70vw;
    height: 70vh;
    margin: auto;
    margin-top: 200px;
    border-radius: 10px;

}
img {
    margin:auto;
    border-radius: 10px;
    
}

.form_wrapper{
    position: relative;
    left: 280px;
    right: 280px;
    border: 3px solid #73AD21;

}