<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>SEI Emergency Compliment, in Express</h1>
    
    <h2><a href="/compliment">get a compliment</a></h2>
    <h2><a href="/game">Play scissors paper rock S</a></h2>
    <h2>enter your name in address bar as /sirvan for a personalised experience!</a></h2>
    <h2>Current Date and Time is:</h2>

    <% var datetime = Date(); %> 
    <%= datetime %>
   
</body>
</html>