<h1>Please fill in this form</h1>

<form action="/input_planet_data" method="post">
<label for="">name</label>
<input type="text" name = "name">


<label for="image_url"></label>
<input type="text">

<button>Add New planet</button>

</form>