<h1>This form must be filled with the new planet details.</h1>

<form action="/planet" method="post">

<div class="edit-box">
<label for="">name</label>
<input type="text" name = "name">
 </div>

<div class="edit-box">
<label for="image_url">Image URL</label>
<input type="text" name = "image_url" placeholder = "http://...">
 </div>

 <div class="edit-box">
<label for="diameter">Diameter</label>
<input type="real" name = "diameter">
 </div>

 <div class="edit-box">
<label for="mass">Mass</label>
<input type="real" name = "mass">
 </div>

 <div class="edit-box">
<label for="moon_count">Moon_count</label>
<input type="integer" name = "moon_count">
 </div>

<button>Add New Planet</button>

<div>
 <a class="anchors" href="/">HOME</a> 
  </div>
  
</form>
