<h1>add a new planet</h1>

<form action="/planets" method="post">
    <label for="">name</label>
    <input type="text" name= "name">

    <label for="">image url</label>
    <input type="url" name="image_url" placeholder= "http://..">

    <label for="">diameter</label>
    <input type="number" name= "diameter">

    <label for="">mass</label>
    <input type="text" name= "mass">

    <label for="">moon count</label>
    <input type="number" name= "moon_count">

    <button>add</button>


</form>