<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Search</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="https://www.linkedin.com/in/drdavechandler/">about</a></li>
    </ul>
  </nav>

  <h1>movies viewer</h1>
<%# copying googles query tag for search :) %>
<form action="/q">
  <input type="text" name="s">
  <button>search</button>
</form>

</body>
</html>