<h1>Did you discover a new planet?</h1>
<h2>That's so cool (and unlikely)! Add it here.</h2>

<form action="/store_new_planet" method="post">

    <div class="input">
        <label for="">Name:</label>
        <input type="text" name="name" placeholder="Add your planet name.">
    </div>
    <div class="input">
        <label for="">Image URL:</label>
        <input type="text" name="image_url" placeholder="https://...">
    </div>
    <div class="input">
        <label for="">Diameter (in km):</label>
        <input type="number" name="diameter" placeholder="E.g. 3">
    </div>
    <div class="input">
        <label for="">Mass (in kg):</label>
        <input type="number" name="mass" placeholder="E.g. 10">
    </div>
    <div class="input">
        <label for="">Number of moons:</label>
        <input type="number" name="moon_count" placeholder="E.g. 3720">
    </div> 

    <button>Submit your planet!</button>

</form>