

<% planets.each do |planet| %>
  <div>
  <h3>
  <a href="/planets/<%= planet['id'] %>"> <%= planet['name'] %> </a>
  </h3>

    <img src="<%= planet['image_url'] %>" alt="<%= planet['name'] %>">
  </div>
<% end %>