
<h1>Update Planet Information</h1>

<form action="/planets/<%= planet['id'] %>/update" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="">Name</label>
  <input type="text" name="name" value="<%= planet['name'] %>">

  <label for="">Image URL</label>
  <input type="url" name="image_url" placeholder="http://...." value="<%= planet['image_url'] %>">

  <button>Update</button>

</form> ``````` `