<h1>Solar System</h1>

<h2>
    <a href="/planets/add_planet">Add to the solar system</a>
</h2>

<% planets.each do |planet| %>

    <h2> 
        <a href="/planets/<%=planet['id']%>">
        <%= planet['name'] %> 
        </a>
    </h2>

  <img src="<%= planet['image_url']%>" alt="<%=planet['name']%>" srcset="">
  

<% end %>