<h2>ADD A NEW PLANET</h2>
<form action='add_planet' method='post' style=
'line-height:2rem'>
    <label for="planet_name">Planet Name?</label>
        <input type='text' name='planet_name' ></><br/>
    <label for="moons">Number of Moons</label>
        <input type='number' name='moons' ></><br/>
    <label for="mass">Planet mass in kg (e24)</label>
        <input type='number' name='mass'></><br/>
    <label for="diameter">Planet diameter (m)</label>
        <input type='number' name='diameter' ></>
    <label for="image_url">Planet diameter (m)</label>
        <input type='text' name='img_url' ></>
    <button>submit</button>
</form>