
<body>

<h1>Select your movie</h1>

<form action="/movie_details"> <!-- action will take us to the selected page once button is pressed-->
    <input type="text" name="movie" placeholder="Enter Movie">   <!-- name is the PARAMETERS we can throw into our URL(check first page movie = params["movie"]-->
    <button>Search</button> <!-- only one button per form -->
</form>

    