<div class="flexbox">
  <div class="search">
    <h1>Movie Database</h1>
    
    <div>
    <form action="/movie_list" class="search">
    <input type="text" name="movie_search" placeholder="enter show name"> 
    <button>Search</button>
    </div>
  </div>
</div>




