html {
    height: 100%;
}

body {
    background: linear-gradient(180deg, rgb(250, 189, 182), white);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

h1 {
    font-family: 'TT Norms', sans-serif;
    align-items: center;
    text-align: center;
}