
    <h1>Movies 2 database</h1>
    <h2>Even better than that last database I made</h2>
    <form action="/search">
        <input type="text" name="title" placeholder="Type in a movie title">
        <button>Search</button>
    </form>
