
    <h1>Movies 3 database</h1>
    <h2>The ultimate in movie data storage</h2>
    <form action="/movies">
        <input type="text" name="title" placeholder="Type in a movie title">
        <button>Search</button>
    </form>
