<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie 2</title>
    <%# <link rel="stylesheet" href="/style.css"> %>
    <style>
    body {
    background-color:bisque;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.img-about {
    width: 30%;
    height: 30%;
}
.note {
    font-size: 12px;
    color: grey;
    font-style: italic;
}
</style>
</head>
<body>
     <nav>
        <a href="/">Home</a> 
        <a href="/about">About</a> 
    </nav>
     <%= yield %>
</body>
</html>