<!--<p><% movie_titles['Search']%></p>-->

<% movie_titles['Search'].each do |movie| %>    
        <p>
            <a href="/movie_details?title=<%= movie['Title'] %>">
                <%= movie['Title'] %>
            </a>
        </p>
<% end %>
