header {
    border: 3px solid purple;
    display: block;
}
article {
    border: 3px solid yellow;
    display: block;
    padding: 10px 2px 0px 10px;
    background-color: white;
}
article img {
    width: 100%;
}
aside{
    border: 2px solid black;
    margin: 30px;
    align-self: start;
    padding: 15px;
    background-color: white;
    
}

footer {
    border: 3px solid green;
}
body {
    border: 3px solid red;
    background-color: lightgrey;
} 
.grid-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 3px solid blue;
    gap: 3%;
}
.ecard1 {
    max-width:100%;
    max-height:100%;

}
a {
    color: red;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;

}
.caption {
    padding: 10px;
    border-bottom: 2px dotted black;
}

