header {
    border: 3px solid purple;
    display: block;
}
article {
    border: 3px solid yellow;
    display: block;
    width: 100%;
    margin: 30px;

}
aside{
    border: 2px solid black;
    margin: 30px;
}
footer {
    border: 3px solid green;
}
body {
    border: 3px solid red;
    background-color: lightgrey;
} 
.grid-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 3px solid blue;
    gap: 3%;
}
.ecard1 {
    max-width:100%;
    max-height:100%;

}
