<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Search</title>
</head>
<body>
  <h1>Movies Search Engine</h1>
<%# copying googles query tag for search :) %>
<form action="/q">
  <div style="white-space:nowrap">
  <label for="s">Movie Title: </label>
    <input type="text" name="s">
    <button>search</button>
  </div>
</form>

</body>
</html>