<h1>update planet details here</h1>

<form action="/update_planet/<%= planet['id'] %>" method="post">
    <input type="hidden" name="_method" value="put">
    <label for="">name</label>
    <input type="text" name="name" value="<%=planet['name'] %>">

    <label for="">image url</label>
    <input type="url" name="image_url" placeholder="http://..." value="<%=planet['image_url'] %>">

    <button>update</button>




</form>