
body {
    margin: 10%;
    text-align: center;
    background-color: mistyrose;
    border: 2px solid black;
}
.balanceSpan {
    margin: 5% 5%
}
.pExcess {
    visibility: hidden;
}
.ptrialstart {
    visibility: visible;
}
.ptrialend {
    visibility: hidden;
}
img {
    width:10%;
}

