<h1>Upload Planet Information Here</h1>

<form action="/planets" method="post">
<label for="">Planet Name </label>
<input type="text" name="name" id="">

<label for="">Image </label>
<input type="url" name="image_url" id="" placeholder="http://">

<label for="">Diameter (km) </label>
<input type="text" name="diameter">

<label for="">Mass (kg) </label>
<input type="text" name="mass">

<label for="">Number of Moons </label>
<input type="text" name="moon_count">

<button>Upload</button>

</form>