body {
    background-color: black;
    color: silver;
    font-family: fantasy;
}
.planets {
    text-align: center;
    font-size: 15px;
    display: grid;
    grid-template-columns: 100px 100px;
}
.planets img {
    width: 100px;
}
.form label{
    display: block;
    font-size: 2em;
}